<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="oAuthConsumerKey" value="sW0g5e9rwisy5Hda0afly9mBX" />
    <add key="oAuthConsumerSecret" value="bD0oJrtOQS1iSGlHBQJBr37HDqlwkqo3mdri1azTARah3r15lm" />
    <add key="oAuthUrl" value="https://api.twitter.com/oauth2/token"/>
    <add key="screenname" value="screenname"/>
    <add key="count" value="10"/>
		<add key="searchFormat" value="https://api.twitter.com/1.1/search/tweets.json?q={0}"/>
		<add key="searchQuery" value="%23ACME"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
